In [1]:
import pandas as pd

## Merging Cleaned Data

In [20]:
# Read the csv file into a pandas DataFrame
eve_2014 = pd.read_csv('export/navidad_2014_12_24.csv')
after_2014 = pd.read_csv('export/navidad_2014_12_26.csv')

eve_2015 = pd.read_csv('export/navidad_2015_12_24.csv')
after_2015 = pd.read_csv('export/navidad_2015_12_26.csv')

eve_2016 = pd.read_csv('export/navidad_2016_12_24.csv')
after_2016 = pd.read_csv('export/navidad_2016_12_26.csv')

items = pd.read_csv('data/items.csv') # merge on 'item_nbr'

stores = pd.read_csv('data/stores.csv') # merge on 'store_nbr'

transactions = pd.read_csv('data/transactions.csv') # merge on 'date'

             id        date  store_nbr  item_nbr  unit_sales  onpromotion
0      65880689  2015-12-26          1    103520         3.0        False
1      65880690  2015-12-26          1    103665         3.0        False
2      65880691  2015-12-26          1    105574         1.0        False
3      65880692  2015-12-26          1    105575         5.0        False
4      65880693  2015-12-26          1    105577         1.0        False
...         ...         ...        ...       ...         ...          ...
98451  65979140  2015-12-26         54   2026893         3.0        False
98452  65979141  2015-12-26         54   2026945         4.0        False
98453  65979142  2015-12-26         54   2026983         6.0        False
98454  65979143  2015-12-26         54   2027090         3.0        False
98455  65979144  2015-12-26         54   2027252         4.0        False

[98456 rows x 6 columns]

In [18]:
# combined day data by year
all_2014 = eve_2014.append(after_2014, ignore_index=True)
all_2015 = eve_2015.append(after_2015, ignore_index=True)
all_2016 = eve_2016.append(after_2016, ignore_index=True)

In [26]:
# combined all years
all_df = all_2014.append(all_2015, ignore_index=True)
all_df = all_df.append(all_2016, ignore_index=True)
all_df
all_df.to_csv('export/all_days.csv', index=False)

In [28]:
# include relational data
all_df = all_df.merge(stores, how='inner')
all_df = all_df.merge(items, how='inner')
all_df = all_df.merge(transactions, how='inner')
all_df = all_df.sort_values(by=['date','store_nbr'])
all_df
all_df.to_csv('export/all_days_n_more.csv', index=False)